.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Container {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.Box {
  flex: 1;
  padding: 20px 0px;
  margin: 5px;
  border:2px solid black;
}
